.bugcard{
    background-color: var(--card-color);
    box-shadow: 2px 2px 2px var(--prime-color);
    text-align: center;
    margin: 10px;
    min-width: 275px;
    min-height: 200px;
}

.bugcard:hover{
    transition: all 0.4s ease;
    transform: scale(1.05);
}